<p style="color: green"><%= notice %></p>

<h1>Search for movies</h1>

<div id="movies_search_panel">
  <% @search = Search.create %>
  <%= form_for :search, url: do_searh_search_path(@search), method: :post do |f|%>
    <%= f.text_field :text %>
    <%= f.submit "Search" %>
  <%end%>
</div>

<div id="movies_search_results">
  <% if @result %>
    <% @result.each do |title| %>
      <%= button_to title, movies_path(title: title) %>
    <% end %>
  <% end %>
</div>