<p style="color: green"><%= notice %></p>

<% @search = Search.create %>
<%= form_for :search, url: do_searh_search_path(@search), method: :post do |f|%>
  <%= f.text_field :text %>
  <%= f.submit "Search" %>
<%end%>

<% if @result %>
  <% @result.each do |title| %>
    <p><%= title %></p>
    <%= button_to 'Select', movies_path(title: title) %>
  <% end %>
<% end %>