<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path do %>
    <%= image_tag("logo.png", width: "200") %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin-left: 20px">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          Home <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to searches_path, class: "nav-link" do %>
          Result <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class: "nav-link" do %>
          User <span class="sr-only">(current)</span>
        <% end %>
      </li>
    </ul>
  </div>heroku run rake db:migrate

  <div>
    <%= render 'searches/form' %>
  </div>

</nav>